.legend {
  width: 100%;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;

  &__item {
    display: flex;
    align-items: center;
    margin: 0 1rem;

    .colored-dot {
      margin-right: 0.5rem;
    }
  }
}
