@import '../../../variables';

.table {
  width: 100%;
  border: 1px solid $table-border-color;
  border-spacing: 0;

  &__head {
    background: $table-head-background;
    color: $table-head-font-color;

    .table__header {
      text-transform: uppercase;
    }
  }

  th,
  td {
    padding: 0.5rem;
    text-align: center;
  }

  &__body {
    .table__row:nth-child(2n) {
      background: $table-row-alt-background;
    }
  }
}
