@import '../../../variables';

$arrow-box-width: 2.5rem;

.select {
  display: flex;
  align-items: center;

  &__label {
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  &__container {
    position: relative;
    display: flex;
    height: $select-height;
    box-shadow: 6px 6px 10px 0px $select-shadow-color;

    // reset select
    select {
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: $select-background;
      background-image: none;
    }

    select {
      color: $select-color;
      flex: 1;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0.5rem;
      padding-right: calc(0.5rem + #{$arrow-box-width});
    }

    &::after {
      content: '\25BC';
      position: absolute;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      width: 1px; // value doesn't matter because of border-box
      top: 0;
      right: 0;
      padding: 0 ($arrow-box-width / 2);
      height: 100%;
      line-height: $select-height;
      background: $select-arrow-box-background;
      color: $select-arrow-color;
      cursor: pointer;
      pointer-events: none;
    }
  }
}
