@import '../variables';

.app {
  color: $font-color;
  max-width: 960px;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    @media (max-width: 960px) {
      flex-direction: column;
    }

    h1 {
      font-size: 1.8rem;
      margin: 0;

      @media (max-width: 960px) {
        margin-bottom: 1rem;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .visual {
      margin: 0.5rem 0;
    }

    .data {
      margin: 1.5rem 0;
    }
  }
}
