$colors: #FAFAFA, #424242, #455A64, #78909C, #BDBDBD;

// global
$background: nth($colors, 1);
$font-color: black;

// select component
$select-height: 3rem;
$select-background: nth($colors, 3);
$select-color: white;
$select-arrow-box-background: nth($colors, 4);
$select-arrow-color: white;
$select-shadow-color: nth($colors, 2);

// table
$table-head-background: nth($colors,3);
$table-head-font-color: white;
$table-row-alt-background: nth($colors, 5);
$table-border-color: nth($colors, 5)
